# API Key
GOOGLE_API_KEY=YOUR_GEMINI_API_KEY_HERE

# AI Model Names
GEMINI_MODELS=gemini-2.5-flash,gemini-2.5-flash-lite,gemini-3-flash-preview,gemini-3.1-flash-lite
OLLAMA_MODELS=phi3,llama3.1,deepseek-r1:1.5b